<div class="sanatorium header-background" style="width: inherit; margin: 0px">
  <img
    src="systems/arm5e/assets/sanatorium/Header_Sanatorium.png"
    style="width: 400px; margin: 0px; background-size: contain"
  />
</div>
