<div>
  <div class="sanatorium header-background" style="width: 600px; margin: 0px">
    <img src="systems/arm5e/assets/sanatorium/Header_Sanatorium.png" />
  </div>
  <div class="flexrow marginsides32">
    <img
      class="clickable patient"
      src="{{ patient.img }}"
      title="{{ patient.name }}"
      style="max-height: 64px; max-width: 64px"
    />
    <h1 class="sanatorium-title width: 100%;" text-align="center">Sanatorium</h1>
  </div>
</div>
