<header class="sheet-header effect-options flexrow">
  {{log "header" this}}
  {{!> "systems/arm5e/templates/generic/largeDialog-header.hbs" header="Inputs" }}
  <img class="item-small-img" src="{{data.ui.img}}" />
  <h1 class="effect-title">{{data.ui.name}}</h1>
</header>