<div class="tab {{ tab.cssClass }} laboratory" data-group="primary" data-tab="laboratory">
  <div class="flexcol">
    {{> "systems/arm5e/templates/generic/parts/ars-tab-navigation.hbs" tabs=subtabs}}
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    <section class="lab-body">
      <div
        class="tab{{#if subtabs.lab.active}} active{{/if}} item flexcol marginsides32"
        data-group="lab-secondary"
        data-tab="lab"
      >
        {{> "systems/arm5e/templates/actor/parts/actor-laboratory.html" }}
        {{> "systems/arm5e/templates/actor/parts/actor-familiar.html" }}
      </div>
      <div
        class="tab{{#if subtabs.[lab-total].active}} active{{/if}} item flexcol marginsides32"
        data-group="lab-secondary"
        data-tab="lab-total"
      >
        {{> "systems/arm5e/templates/actor/parts/actor-laboratoryTotals.html" show="laboratory" }}
      </div>
    </section>
  </div>
</div>
