<div class="tab {{ tab.cssClass }} diary marginsides32" data-group="primary" data-tab="diary">
  {{> "systems/arm5e/templates/actor/parts/actor-diary.html" }}
  {{> "systems/arm5e/templates/actor/parts/actor-covenantCalendar.html" }}
</div>
