<div>
  {{#if metagame.view}}
  <div class="marginsides32">
    {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
    {{> "systems/arm5e/templates/generic/source.html" }}
    {{/if}}
  </div>
  <div class="footer-background">
    <img src="systems/arm5e/assets/Lab/footer.webp" />
  </div>
</div>
