<div class="tab {{ tab.cssClass }} description" data-group="primary" data-tab="description">
  <div class="flexcol">
    {{> (systemPath "templates/generic/parts/ars-tab-navigation.hbs") tabs=subtabs}}
    <section class="desc-body">
      <div
        class="tab{{#if subtabs.desc.active}} active{{/if}} item flexcol marginsides32"
        data-group="desc-secondary"
        data-tab="desc"
      >
        {{> (systemPath "templates/actor/parts/actor-description-v2.hbs") }}
      </div>
      <div
        class="tab{{#if subtabs.wounds.active}} active{{/if}} item flexcol marginsides32"
        data-group="desc-secondary"
        data-tab="wounds"
      >
        {{> (systemPath "templates/actor/parts/actor-fatigue.html") }}
        {{> (systemPath "templates/actor/parts/actor-combat.html") }}
        {{> (systemPath "templates/actor/parts/actor-weapons.html") }}
      </div>
    </section>
  </div>
  {{#if metagame.view }}
  {{> (systemPath "templates/generic/metalic-bar.html") }}
  {{> (systemPath "templates/generic/source.html") }}
  {{/if}}
</div>
