<div class="tab {{ tab.cssClass }}" data-group="primary" data-tab="magical-effect">
  <ol class="spell-list backSection margintop18" style="padding: 5px">
    {{> "systems/arm5e/templates/actor/parts/codex-magical-effects.hbs" }}
  </ol>
</div>
