<form class="{{cssClass}} arm5eRoll" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Damage_Soak" }}
  <div class="roll-options">
    <div class="flexrow flex-group-center">
      <label class="" name="strength"
        value="{{actor.system.characteristics.str.value}}">{{localize "arm5e.sheet.strength" }} ({{ numberFormat
        actor.system.characteristics.str.value decimals=0
        sign=true }})</label>
    </div>

    <div class="flexrow flex-group-center">
      <label class="">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class="" name="weapon" value="{{actor.system.combat.dam}}">{{localize "arm5e.damage.label" }}
        ({{ numberFormat
        actor.system.combat.dam decimals=0 sign=true }})</label>
    </div>

    <div class="flexrow flex-group-center">
      <label class="">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class=" flex0">{{localize "arm5e.sheet.advantage" }}</label>
      <input type="number" name="advantage" value="{{advantage}}" data-dtype="Number"
        class="SelectedAdvantage select-on-focus modifier" />
    </div>

    <div class="flexrow flex-group-center">
      <label class="">+</label>
    </div>
    <div class="flexrow flex-group-center">
      <label class=" flex0">{{localize "arm5e.sheet.modifier" }}</label>
      <input type="number" name="modifier" value="{{modifier}}" data-dtype="Number"
        class="SelectedModifier select-on-focus modifier" />
    </div>
    <div class="flexrow flex-group-center">
      <label class=""><img src="systems/arm5e/assets/ballSilver.png" width="20" height="20"
          style="border :0px" /></label>
    </div>
    <div class="flexrow flex-group-center">
      <label class=" fit">{{localize "arm5e.damage.form"}}</label>
      <select name="formDamage" data-type="String" style="max-width: fit-content;">
        {{selectOptions selection.forms selected=formDamage  labelAttr="label"  }}
      </select>
    </div>
  </div>
  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Damage_Soak"}}
</form>