<div autocomplete="off" class="{{cssClass}} arm5e-config">

    <!-- <section class="sheet-body" style="height: 800px"> -->
    <div class="arm5e backSection padding12 flex-group-left " style="padding: 10px;">
        <div>
            <select name="referenceModule" data-type="String">
                {{selectOptions arsModules selected=referenceModule labelAttr="label" nameAttr="id" valueAttr="id"}}
            </select>
        </div>
        <div>
            <label class="">{{localize "Notify missing reference"}}</label>
            <input type="checkbox" name="nofifyMissingRef" size="4" {{checked nofifyMissingRef}} />
        </div>
    </div>
    <!-- </section> -->

    <div class="dialog-buttons flexrow flex-end">
        <button class="dialog-button" type="submit">
            <i class="fas fa-save"></i> {{localize 'PERMISSION.Submit'}}
        </button>
    </div>
</div>