<form class="{{cssClass}} arm5eDialog" autocomplete="off"
  style="background-image: url('systems/arm5e/assets/item/Thin/{{flavor}}_background.webp'); background-size:cover">
  {{> "systems/arm5e/templates/item/parts/item-thin-header.html" flavor=flavor}}
  <div class="padding12">
    <div class="flexcol flex-center">
      <label style="margin: 10px; font-size: 14pt;">{{question}}</label>
      {{#if info1}}
        <label style="margin: 10px;">{{info1}}</label>
      {{/if}}
      {{#if info2}}
        <label style="margin: 10px;">{{info2}}</label>
      {{/if}}
    </div>
  </div>
  {{> "systems/arm5e/templates/item/parts/item-thin-footer.html" flavor=flavor}}
</form>