<div class="{{cssClass}} flexcol mainCovenant">
  <div class="header-background">
    <img src="systems/arm5e/assets/covenant/header150.webp" />
  </div>
  <form class="sheet-content" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="header-fields">
        <h1 class="bigname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

        <div class="flexrow flex-between">
          <span class=" flexrow">
            <label for="system.saga" class="covenant-label">{{localize "arm5e.sheet.saga"}}</label>
            <input name="system.saga" type="text" value="{{system.saga}}" data-dtype="String"
              class="covenant-input-lg" />
          </span>
          <span class=" flexrow">
            <label for="system.tribunal" class="covenant-label">{{localize "arm5e.sheet.tribunal"}}</label>
            <input name="system.tribunal" type="text" value="{{system.tribunal}}" data-dtype="String"
              class="covenant-input-lg" />
          </span>
        </div>
        <div class="flexrow flex-between">
          <span class=" flexrow pt-4">
            <label for="system.narrator" class="covenant-label">{{localize "arm5e.sheet.narrator"}}</label>
            <input name="system.narrator" type="text" value="{{system.narrator}}" data-dtype="String"
              class="covenant-input-md" />
          </span>
          <span class=" flexrow">
            <label for="system.sagaType" class="covenant-label">{{localize "arm5e.sheet.sagaType"}}</label>
            <input name="system.sagaType" type="text" value="{{system.sagaType}}" data-dtype="String"
              class="covenant-input-lg" />
          </span>
        </div>
        <div class="flexrow flex-between">
          <span class=" flexrow pt-4">
            <label for="system.foundationYear" class="covenant-label">{{localize "arm5e.sheet.foundationYear"}}</label>
            <input class="flex08 covenant-input-sm" name="system.foundationYear" type="number"
              value="{{system.foundationYear}}" data-dtype="Number" />
          </span>
          <span class=" flexrow pt-4">
            <label for="system.datetime.year" class="covenant-label">{{localize "arm5e.sheet.currentYear"}}</label>
            <input class="flex08 covenant-input-sm" name="year" type="number" value="{{datetime.year}}" readonly
              data-dtype="Number" />
          </span>
        </div>
        <div class="flexrow flex-between">
          <span class=" flexrow pt-4">
            <label for="system.aegisCovenant" class="covenant-label">{{localize "arm5e.sheet.aegisCovenant"}}</label>
            <input name="system.aegisCovenant" type="number" value="{{system.aegisCovenant}}" data-dtype="Number"
              class="covenant-input-sm" />
          </span>
          <span class=" flexrow pt-4">
            <label for="system.aegisPenetration"
              class="covenant-label">{{localize "arm5e.sheet.aegisPenetration"}}</label>
            <input class="flex04 select-on-focus covenant-input-sm" name="system.aegisPenetration" type="number"
              value="{{system.aegisPenetration}}" data-dtype="Number" />
          </span>
        </div>

        <div class="flexrow flex-between">
          <span class=" flexrow pt-4">
            <label for="system.modifiersLife.magi"
              class="covenant-label">{{localize "arm5e.sheet.modifiersLifeMagi"}}</label>
            <input class="flex04 select-on-focus" name="system.modifiersLife.magi" type="text"
              value="{{system.modifiersLife.magi}}" data-dtype="Number" />
          </span>
          <span class=" flexrow pt-4">
            <label for="system.modifiersLife.mundane"
              class="covenant-label">{{localize "arm5e.sheet.modifiersLifeMundane"}}</label>
            <input class="flex04 select-on-focus" name="system.modifiersLife.mundane" type="text"
              value="{{system.modifiersLife.mundane}}" data-dtype="Number" />
          </span>
        </div>

        <div class="flexrow flex-between">
          <span class=" flexrow pt-4">
            <label for="system.scene.id" class="flex0 covenant-label">{{localize "arm5e.sheet.scene"}}</label>
            <select name="system.scene.id" data-type="String" {{#unless (isGM)}}disabled{{/unless}}>
              {{selectOptions scenes selected=system.scene.id labelAttr="name" nameAttr="id" valueAttr="id" blank=""}}
            </select>
          </span>
          <span class=" flexrow pt-4">
            <label for="system.season" class="flex0 covenant-label">{{localize "arm5e.sheet.season"}}</label>
            <select name="system.season" class="select-season" data-type="String">
              {{selectOptions config.seasons selected=system.season labelAttr="label" localize=true}}
            </select>
          </span>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="arm5eTabs arm5eTabsCOV sheet-tabs tabs" data-group="primary">
      <a class="item posRelative flexrow" data-tab="attributes">
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        {{localize "arm5e.sheet.attributes"}}
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      </a>
      <a class="item posRelative flexrow" data-tab="habitants">
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        {{localize "arm5e.sheet.habitants"}}
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      </a>
      <a class="item posRelative flexrow" data-tab="posessions">
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        {{localize "arm5e.sheet.possessions"}}
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      </a>
      <a class="item posRelative flexrow" data-tab="economics">
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        {{localize "arm5e.sheet.economics"}}
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      </a>
      <a class="item posRelative flexrow" data-tab="library">
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        {{localize "arm5e.sheet.library"}}
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      </a>
      <a class="item posRelative flexrow" data-tab="diary">
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        {{localize "arm5e.sheet.diary"}}
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      </a>
      {{#if isGM}}
        <a class="item posRelative flexrow" data-tab="effects">
          <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
          {{localize "arm5e.sheet.effects"}}
          <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        </a>
      {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body" style="min-height: 262px;">
      {{!-- attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{> "systems/arm5e/templates/actor/parts/actor-covenantAttributes.html" }}
      </div>

      {{!-- habitants Tab --}}
      <div class="tab habitants" data-group="primary" data-tab="habitants">
        {{> "systems/arm5e/templates/actor/parts/actor-covenantHabitants.html" }}
      </div>

      {{!-- posessions Tab --}}
      <div class="tab posessions" data-group="primary" data-tab="posessions">
        {{> "systems/arm5e/templates/actor/parts/actor-covenantPosessions.html" }}
      </div>

      {{!-- economics Tab --}}
      <div class="tab economics" data-group="primary" data-tab="economics">
        {{> "systems/arm5e/templates/actor/parts/actor-covenantEconomics.html" }}
      </div>

      {{!-- library Tab --}}
      <div class="tab library" data-group="primary" data-tab="library">
        {{> "systems/arm5e/templates/actor/parts/actor-library.html" }}
      </div>

      {{!-- Diary Tab --}}
      <div class="tab diary" data-group="primary" data-tab="diary">
        {{> "systems/arm5e/templates/actor/parts/actor-diary.html" }} {{>
      "systems/arm5e/templates/actor/parts/actor-covenantCalendar.html" }}
      </div>

      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/arm5e/templates/generic/active-effects-tab.hbs"  mode="actor" filter="covenant"}}
      </div>
    </section>


  </form>
  <div class="footer-background">
    <img src="systems/arm5e/assets/covenant/footer.webp" />
  </div>
</div>