<section class="sheet-body-part sheet-body marginItemPart">
  <div>
    {{> (systemPath "templates/generic/ars-editor-V2.hbs")
      content=enrichedDescription
      target="system.description"
      editable=editable
    }}
  </div>
</section>
