<section class="sheet-body-part sheet-body marginItemPart">
  <div class="tab {{ tab.cssClass }} effects" data-group="primary" data-tab="effects">
    {{> (systemPath "templates/generic/active-effects-tab.hbs") mode='item'}}
  </div>
</section>
