<section class="sheet-body-part sheet-body marginItemPart">
  <div class="tab {{ tab.cssClass }}" data-group="primary" data-tab="description">
    <div class="flexcol">
      {{> (systemPath "templates/generic/ars-editor-V2.hbs")
      content=enrichedDescription
      target="system.description"
      editable=editable
      }}

      {{#if metagame.view }}
      {{> (systemPath "templates/generic/metalic-bar.html") }}
      {{> (systemPath "templates/generic/source.html") }}
      {{/if}}
    </div>
  </div>
</section>
