<section class="sheet-body-part sheet-body marginItemPart">
  <div class="tab {{ tab.cssClass }}" data-group="primary" data-tab="description">
    {{#if (eq system.type "raw")}}
    {{> (systemPath "templates/generic/ars-editor-V2.hbs")
      content=enrichedDescription
      target="system.description"
      editable=editable
    }}
    {{else}}
    {{> (systemPath "templates/item/parts/spell-design-alt.html")
      docId=item._id
      container="book"
      prefix=""
      spelldata=this
      visibility=ui.sections.visibility.book
      ritual=(eq system.type "spell")
      noApplyFocus=true
    }}
    {{/if}}

    {{#if (eq system.type "enchantment")}}
    {{> (systemPath "templates/item/parts/enchantment-attributes.html")
      docId=item._id
      container="book"
      prefix=""
      enchantData=this
      visibility=ui.sections.visibility.book
      expiryAllowed=true
    }}
    {{/if}}

    {{#if metagame.view}}
    <div>
      {{> (systemPath "templates/generic/metalic-bar.html")}}
      {{> (systemPath "templates/generic/source.html")}}
    </div>
    {{/if}}
  </div>
</section>
