<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="bigname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <div class="resource">
            <label for="system.type" class="">{{localize "arm5e.sheet.type"}}</label>
            <select name="system.type" data-type="String" class="change-VFType">
              {{selectOptions config.virtueFlawTypes.available selected=system.type labelAttr="label" localize=true }}
            </select>
          </div>
          <div class="resource">
            <label for="system.impact.value" class="">{{localize system.impact.label}}</label>
            <select name="system.impact.value" data-type="String">
              {{selectOptions config.impacts selected=system.impact.value labelAttr="label" localize=true }}
            </select>
          </div>
          <div class="flexrow">
            <div class="resource">
              <label for="system.hidden" class="label-light checkbox">{{localize "arm5e.generic.hidden"}}</label>
              <input type="checkbox" name="system.hidden" {{checked system.hidden}}>
            </div>
            <div class="resource">
              <label for="system.tainted" class="label-light checkbox">{{localize "arm5e.sheet.tainted"}}</label>
              <input type="checkbox" name="system.tainted" {{checked system.tainted}}>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative flexrow" data-tab="description">
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      {{localize "arm5e.sheet.description"}}
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
    </a>
    <a class="item posRelative flexrow" data-tab="effects">
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      {{localize "arm5e.sheet.effects"}}
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
    </a>
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div style="height: inherit">
        {{editor enrichedDescription target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      </div>
      {{#if metagame.view }}
        {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
        {{> "systems/arm5e/templates/generic/source.html" }}
      {{/if}}
    </div>
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/arm5e/templates/generic/active-effects.html" }}
    </div>
  </section>
</form>