<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource flexcol">
          <label for="system.art" class="">{{localize "arm5e.sheet.art"}}</label>
          <select name="system.art" data-type="String">
            {{selectOptions config.magic.arts selected=system.art labelAttr="label"}}
          </select>
        </div>
        {{#if displayStudyIcon}}
          <div>
            <a class="vis-study" title="{{localize 'arm5e.activity.visStudy'}}"
              style=" font-size: 16pt; padding: 0px"><i class="icon-Icon_Effects"></i>
            </a>
          </div>
        {{/if}}
      </div>
      <div class="resource">
        {{>"systems/arm5e/templates/item/parts/cost.hbs" classes="fit"}}
      </div>
    </div>
  </header>


  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <label for="system.description" class="">{{localize "arm5e.sheet.description"}}</label>
    <div style="height: 249px">
      {{editor enrichedDescription target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
    </div>
    {{#if metagame.view }}
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      {{> "systems/arm5e/templates/generic/source.html" }}
    {{/if}}

  </section>
</form>