<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <div class="resource" style=" max-width: 115px; ">
          <label class="">{{localize "arm5e.sheet.protection"}}</label>
          <input type="number" name="system.prot" value="{{system.prot}}" class="modifier select-on-focus"
            data-dtype="Number" />
        </div>
        <div class="resource" style="max-width: 110px; ">
          <label class="">{{localize "arm5e.sheet.load"}}</label>
          <input type="number" name="system.load" value="{{system.load}}" class="modifier select-on-focus"
            data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="checkbox-label">{{localize "arm5e.sheet.fullSet"}}</label>
          <input type="checkbox" name="system.full" {{checked system.full}} />
        </div>
      </div>
      <div class="flexrow">

        {{>"systems/arm5e/templates/item/parts/cost.hbs" classes="fit"}}
        {{#if system.canEquip}}
          <div class="resource">
            <label class="checkbox-label">{{localize "arm5e.sheet.equipped"}}</label>
            <input type="checkbox" name="system.equipped" {{checked system.equipped}} />
          </div>
        {{else}}
          <div class="flex0"></div>
        {{/if}}
      </div>
      <div class="flexrow">
        {{#if isGM}}
          <div class="resource">
            <label class="">{{localize "arm5e.sheet.state.label"}}</label>
            <input type="text" value="{{localize (lookup config.lab.enchantment.receptacle.state system.state)}}"
              data-dtype="String" readonly>
          </div>
          <div class="resource">
            <img src="systems/arm5e/assets/icons/Icon_Details_option1.png" class="appraise"
              title="{{localize 'arm5e.lab.enchantment.item.enable'}}"
              style="border: 0px; width: 32px; height: 32px;" />
          </div>
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    {{#if (ne system.state "inert")}}
      <a class="item posRelative" data-tab="enchantments">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.item.enchantments"}}
      </a>
      <a class="item posRelative" data-tab="effects">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.effects"}}
      </a>
    {{/if}}
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}

    {{#if (eq system.state "inert")}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor enrichedDescription target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      </div>
    {{else }}
      <div class="tab" data-group="primary" data-tab="description">
        {{> "systems/arm5e/templates/item/parts/enchant-desc-section.html" }}
        {{> "systems/arm5e/templates/item/parts/enchant-attributes-section.html" }}
      </div> <!-- Description Tab END -->
      {{> "systems/arm5e/templates/item/parts/enchant-extension.html" }}
      {{!-- Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects" style="overflow-y: scroll">
        {{> "systems/arm5e/templates/generic/active-effects.html" }}
      </div>
    {{/if}}

    {{#if metagame.view }}
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      {{> "systems/arm5e/templates/generic/source.html" }}
    {{/if}}
  </section>
</form>