<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-col">
        <div class="resource flexcol flexrow">
          <label for="system.technique.value" class="">{{localize "arm5e.sheet.technique"}}</label>
          <select name="system.technique.value" data-type="String">
            {{selectOptions config.magic.techniques selected=system.technique.value labelAttr="label"}}
          </select>
        </div>

        <div class="resource flexcol flexrow">
          <label for="system.form.value" class="">{{localize "arm5e.sheet.form"}}</label>
          <select name="system.form.value" data-type="String">
            {{selectOptions config.magic.forms selected=system.form.value labelAttr="label"}}
          </select>
        </div>

        <div class="resource">
          <label class="">{{localize "arm5e.sheet.level"}}</label>
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
        </div>

        <div class="resource">
          <label class="">{{localize "arm5e.sheet.uses"}}</label>
          <input type="text" name="system.uses" value="{{system.uses}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    <a class="item posRelative" data-tab="attributes">
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.attributes"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="flexrow">
        <div class="resource">
          <label class="">{{localize "arm5e.sheet.range"}}</label>
          <select name="system.range.value" data-type="String" class="spell-attribute">
            {{magicalAttributesHelper selection.ranges selected=system.range.value}}
          </select>
        </div>
        <div class="resource">
          <label class="">{{localize "arm5e.sheet.duration"}}</label>
          <select name="system.duration.value" data-type="String" class="spell-attribute">
            {{magicalAttributesHelper selection.durations selected=system.duration.value}}
          </select>
        </div>
        <div class="resource">
          <label class="">{{localize "arm5e.sheet.target"}}</label>
          <select name="system.target.value" data-type="String" class="spell-attribute">
            {{magicalAttributesHelper selection.targets selected=system.target.value}}
          </select>
        </div>
        <div class="resource">
          <label class="">{{localize "arm5e.sheet.effects"}}</label>
          <input type="text" name="system.effects" value="{{system.effects}}" data-dtype="String"
            style="min-width:170px" />
        </div>
        <div class="resource">
          <label class="">{{localize "arm5e.sheet.creator"}}</label>
          <input type="text" name="system.creator" value="{{system.creator}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="">{{localize "arm5e.sheet.year"}}</label>
          <input type="text" name="system.year" value="{{system.year}}" data-dtype="String" />
        </div>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      {{#if metagame.view }}
        {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
        {{> "systems/arm5e/templates/generic/source.html" }}
      {{/if}}
    </div>
  </section>
</form>