<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="flexcol">
      <div class="flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="flexcol header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
          {{#if system.canEquip}}
            <div class="resource flexcol flexrow">
              <label for="system.ability" class="">{{localize "arm5e.sheet.ability"}} </label>
              <select name="system.ability" data-type="String" class="weapon-ability ability-key">
                {{selectOptions system.abilities selected=system.ability.id labelAttr="name" 
                valueAttr="id" nameAttr="id"}}
              </select>
            </div>
          {{/if}}
          <div class="grid grid-2col">
            <div class="resource flexrow">
              <label class="">{{localize "arm5e.sheet.naturalweapon"}}</label>
              <input type="checkbox" class="toggleNatural" name="system.naturalWeapon" {{checked
                system.naturalWeapon}} />
            </div>
            {{#if system.canEquip}}


              {{#unless system.naturalWeapon}}
                <div class="resource flexrow">
                  <label class="">{{localize "arm5e.sheet.equipped"}}</label>
                  <input type="checkbox" class="equipment" data-item-id="{{item.id}}" {{checked system.equipped}} />
                </div>

              {{/unless}}
              <div class="resource flexrow">
                <label class="">{{localize "arm5e.sheet.weaponExpert"}}</label>
                <input type="checkbox" name="system.weaponExpert" {{checked system.weaponExpert}} />
              </div>
            {{/if}}
          </div>
          <div class="grid grid-3col">
            <div class="resource flex-group-right">
              <label class="">{{localize "arm5e.sheet.initiative"}}</label>
              <input type="number" name="system.init" value="{{system.init}}" class="modifier select-on-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="">{{localize "arm5e.sheet.attack"}}</label>
              <input type="number" name="system.atk" value="{{system.atk}}" class="modifier select-on-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="">{{localize "arm5e.sheet.defense"}}</label>
              <input type="number" name="system.dfn" value="{{system.dfn}}" class="modifier select-on-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="">{{localize "arm5e.damage.label"}}</label>
              <input type="number" name="system.dam" value="{{system.dam}}" class="modifier select-on-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="">{{localize "arm5e.sheet.range"}}</label>
              <input type="number" name="system.range" value="{{system.range}}" class="modifier select-on-focus"
                data-dtype="Number" />
            </div>
            <div class="resource flex-group-right">
              <label class="">{{localize "arm5e.sheet.load"}}</label>
              <input type="number" name="system.load" value="{{system.load}}" class="modifier select-on-focus"
                data-dtype="Number" />
            </div>
          </div>

        </div>
      </div>
      <div class="flexrow">
        {{#unless system.naturalWeapon}}
          {{>"systems/arm5e/templates/item/parts/cost.hbs" classes="fit"}}
        {{/unless}}
        <div class="flexcol">
          {{#if isGM}}
            <div class="flexrow">
              <div class="resource" style="max-width: 200px;">
                <label class="">{{localize "arm5e.sheet.state.label"}}</label>
                <input type="text" value="{{localize (lookup config.lab.enchantment.receptacle.state system.state)}}"
                  data-dtype="String" readonly>
              </div>
              <div class="resource" style="max-width: 100px;">
                <img src="systems/arm5e/assets/icons/Icon_Details_option1.png" class="appraise"
                  title="{{localize 'arm5e.lab.enchantment.item.enable'}}"
                  style="border: 0px; width: 32px; height: 32px;" />
              </div>
            </div>
          {{/if}}
          <div class="flexrow">
            <div class="resource flexrow" style="min-width: 100px; max-width: 150px;">
              <label class="checkbox-label">{{localize "arm5e.sheet.mounted"}}</label>
              <input type="checkbox" name="system.horse" {{checked system.horse}} />
            </div>
            {{#unless system.naturalWeapon}}
              <div class="resource flexrow">
                <label class="">{{localize "arm5e.sheet.strengthNeeded"}}</label>
                <input type="number" name="system.str" value="{{system.str}}" class="modifier select-on-focus"
                  data-dtype="Number" />
              </div>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
    {{#if (ne system.state "inert")}}
      <a class="item posRelative" data-tab="enchantments">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.item.enchantments"}}
      </a>
      <a class="item posRelative" data-tab="effects">
        <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
        <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
        {{localize "arm5e.sheet.effects"}}
      </a>
    {{/if}}
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    {{#if (eq system.state "inert")}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor enrichedDescription target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      </div>
    {{else }}
      <div class="tab" data-group="primary" data-tab="description">
        {{> "systems/arm5e/templates/item/parts/enchant-desc-section.html" }}
        {{> "systems/arm5e/templates/item/parts/enchant-attributes-section.html" }}
      </div> <!-- Description Tab END -->
      {{> "systems/arm5e/templates/item/parts/enchant-extension.html" }}
      <div class="tab effects" data-group="primary" data-tab="effects" style="overflow-y: scroll">
        {{> "systems/arm5e/templates/generic/active-effects.html" }}
      </div>
    {{/if}}
    {{#if metagame.view }}
      {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
      {{> "systems/arm5e/templates/generic/source.html" }}
    {{/if}}
  </section>
</form>