<form class="sheet-content flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="name" /></h1>
      <div class="resource flexrow">

        <div class="resource flexcol">
          <label for="system.cost" class="header-label">{{localize "arm5e.sheet.cost"}}</label>
          <input name="system.cost" type="number" value="{{system.cost}}" placeholder="0" class="resource-focus" />
        </div>
        <div class="resource flexcol">
          <label for="system.init" class="header-label">{{localize "arm5e.sheet.initiative"}}</label>
          <input name="system.init" type="number" value="{{system.init}}" placeholder="0" class="resource-focus" />
        </div>
        <div class="resource flexcol">
          <label for="system.form" class="header-label">{{localize "arm5e.sheet.form"}}</label>
          <select name="system.form" data-type="String">
            {{selectOptions selection.forms selected=system.form labelAttr="label"}}
          </select>
        </div>
      </div>
      {{#unless ownerHasMight}}
        <div class="resource flexrow">
          <div class="resource flexcol">
            <label for="system.cost" class="header-label">{{localize "arm5e.sheet.realm.label"}}</label>
            <select name="system.realm" data-type="String">
              {{selectOptions config.realmsExt selected=system.realm labelAttr="label" localize=true }}
            </select>
          </div>

          <div class="resource flexcol">
            <label for="system.penetration" class="header-label">{{localize "arm5e.sheet.penetration"}}</label>
            <input name="system.penetration" type="number" value="{{system.penetration}}" placeholder="0"
              class="resource-focus" />
          </div>
        </div>
      {{/unless}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="arm5eTabs sheet-tabs tabs" data-group="primary">
    <a class="item posRelative" data-tab="description">
      <div class="navItem-right-ball"><img src="systems/arm5e/assets/bLeft.png" /></div>
      <div class="navItem-left-ball"><img src="systems/arm5e/assets/bRight.png" /></div>
      {{localize "arm5e.sheet.description"}}
    </a>
  </nav>
  {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true owner=owner engine="prosemirror" editable=editable}}
      {{#if metagame.view }}
        {{> "systems/arm5e/templates/generic/metalic-bar.html" }}
        {{> "systems/arm5e/templates/generic/source.html" }}
      {{/if}}
    </div>
  </section>
</form>