<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">{{localize "arm5e.sheet.quickness"}}
    ({{system.characteristics.qik.value}})</label>
</div>
<div class="flexrow flex-group-center">
  <label class="">+</label>
</div>
<div class="flexrow flex-group-center">
  <label class="init">{{localize "arm5e.sheet.initiative"}}
    ({{system.combat.init}})</label>
</div>